name: Docker

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'
    paths-ignore:
      - '**/*.md'
      - 'LICENSE-*'
      - .gitignore
      - docker-compose.yaml
      - '.github/**'
      - '!.github/workflows/docker.yml'
  workflow_dispatch:

jobs:
  build-and-push:
    name: Build and Push
    uses: durability-labs/github-actions/.github/workflows/docker-reusable.yml@main
    with:
      docker_file: server/Dockerfile
      dockerhub_repo: durabilitylabs/ultra-data-burning-rom
      tag_latest: ${{ github.ref_name == github.event.repository.default_branch || startsWith(github.ref, 'refs/tags/') }}
    secrets: inherit
